---

- name: Install Packages
  yum:
    name:
      - git
      - httpd
      - php
      - php-mysql
    state: present

- name: Give writable mode to http folder
  file:
   path: /var/www/html
   state: directory
   mode: 0755

- name: Clone a repo with separate git directory
  git:
    repo: https://github.com/ludovic-tech/app-php.git
    dest: /var/www/html/app-php

- name: permit traffic in default zone for https service
  firewalld:
    service: http
    permanent: yes
    state: enabled

- name: restart and enable systemd apache service
  systemd:
   name: httpd
   enabled: yes
   state: restarted

# tasks file for apache


# FROM https://phoenixnap.com/kb/how-to-install-lamp-stack-on-centos
